@import './css/switch.css';
@import './css/checkbox.css';
@import './css/input.css';
@import './css/cascader.css';
@import './font/iconfont.css'

.w240 {
    width: 240px;
}

/*  cascader 弹窗组件样式 */
.el-popper {
    margin-top: 12px;
}

.el-cascader__dropdown {
    margin: 5px 0;
    font-size: 14px;
    background: #fff;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

.el-cascader-panel {
    display: flex;
    border-radius: 4px;
    font-size: 14px;
}

.el-scrollbar {
    overflow: hidden;
    position: relative;
}

.el-cascader-menu {
    min-width: 180px;
    box-sizing: border-box;
    color: #606266;
    border-right: 1px solid #e4e7ed;
}

.el-cascader-menu__wrap {
    height: 204px !important;
}

.el-scrollbar__wrap {
    overflow: scroll;
    height: 100%;
}

/* ul  */
.el-cascader-menu__list {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 6px 0;
    list-style: none;
    box-sizing: border-box;
}

/* li */
.el-cascader-node {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    height: 34px;
    line-height: 34px;
    outline: none;
    cursor: pointer;
}

/* li禁用 */
.el-cascader-node-disabled{
    color: #c0c4cc;
    cursor: not-allowed;
}

.in-active-path {
    color: #409eff;
    font-weight: 700;
}

.el-cascader-node:not(.is-disabled):hover {
    background: #f5f7fa;
}

.el-cascader-node__label {
    flex: 1;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.el-cascader-node__postfix {
    position: absolute;
    right: 10px;
}


.popper__arrow {
    /* position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 6px;
    filter: drop-shadow(0 2px 12px rgba(0,0,0,.03));
    left: 35px;
    top: -6px; */
}

.popper__arrow::after {
    /* position: absolute;
    content: " ";
    top: -7px;
    border-left: 6px solid transparent;  
    border-right: 6px solid transparent;  
    border-bottom: 12px solid #fff; 
    border: 0.1px solid red; */
}